Task 3: A/B Hypothesis Testing
Accept or Reject Null Hypotheses:

No risk differences across provinces.

No risk differences between zip codes.

No significant margin difference between zip codes.

No significant risk difference between Women and Men.

Tasks:

Select metrics and segment data into control and test groups.

Conduct statistical tests (e.g., chi-squared, t-tests, z-tests) to evaluate the impact.

Analyze and report findings.

In [1]:
import sys
import os


sys.path.append(os.path.abspath('..'))

In [4]:
from scripts.AB_Hypothesis_Testing import data_load , categorical_outliers_detecting,handle_catagorical_outliers, ab_test_provinces , ab_test_zipcodes , ab_test_zipcode_margin , ab_test_gender , data_preprocess
path = '../data/data.csv'
data = data_load(path)
data.head()

c:\Users\Dagi\Documents\KAIM\Week-3\insurance-risk-analytics\scripts\AB_Hypothesis_Testing.py:8: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(filepath)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
4,145247,12827,2015-01-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,3.256435,0.0

In [5]:
data_preprocess(data)

UnderwrittenCoverID              0
PolicyID                         0
TransactionMonth                 0
IsVATRegistered                  0
Citizenship                      0
LegalType                        0
Title                            0
Language                         0
Bank                             0
AccountType                      0
MaritalStatus                    0
Gender                           0
Country                          0
Province                         0
PostalCode                       0
MainCrestaZone                   0
SubCrestaZone                    0
ItemType                         0
mmcode                           0
VehicleType                      0
RegistrationYear                 0
make                             0
Model                            0
Cylinders                        0
cubiccapacity                    0
kilowatts                        0
bodytype                         0
NumberOfDoors                    0
VehicleIntroDate                 0
CustomValueEstimate              0
AlarmImmobiliser                 0
TrackingDevice                   0
CapitalOutstanding               0
NewVehicle                       0
WrittenOff                       0
Rebuilt                          0
Converted                        0
CrossBorder                      0
NumberOfVehiclesInFleet     790093
SumInsured                       0
TermFrequency                    0
CalculatedPremiumPerTerm         0
ExcessSelected                   0
CoverCategory                    0
CoverType                        0
CoverGroup                       0
Section                          0
Product                          0
StatutoryClass                   0
StatutoryRiskType                0
TotalPremium                     0
TotalClaims                      0
dtype: int64

In [6]:
categorical_outliers_detecting(data,'Gender')

array(['Not specified', 'Male', 'Female'], dtype=object)

In [7]:
valid_values = ['Male','Female','Not specified']
output , data1 = handle_catagorical_outliers(data,'Gender',valid_values)

In [8]:
data1['Gender'].unique()

array(['Not specified', 'Male', 'Female'], dtype=object)

In [9]:
chi2_province , p_value_province , contingency_table_province = ab_test_provinces(data1)

In [10]:
chi2_province

0.0

In [11]:
p_value_province

1.0

In [12]:
contingency_table_province

TotalClaims       0.0
Province
Eastern Cape    23982
Free State       6092
Gauteng        305661
KwaZulu-Natal  135018
Limpopo         18693
Mpumalanga      41998
North West     112499
Northern Cape    5013
Western Cape   141137

In [13]:
chi2_zipcode , p_value_zipcode , contingency_table_zipcode = ab_test_zipcodes(data1)

In [14]:
chi2_zipcode

0.0

In [15]:
p_value_zipcode

1.0

In [16]:
contingency_table_zipcode.shape

(888, 1)

In [17]:
f_stat_margin , p_value_zipcode_margin  = ab_test_zipcode_margin(data1)

In [18]:
f_stat_margin

np.float64(45.04765226623358)

In [19]:
p_value_zipcode_margin

np.float64(0.0)

In [20]:
t_test_gender ,p_value_gender =  ab_test_gender(data1)
ab_test_gender(data1)

(np.float64(nan), np.float64(nan))

In [21]:
t_test_gender

np.float64(nan)

In [22]:
p_value_gender

np.float64(nan)