Task 4: Statistical Modeling
Data Preparation: Handle missing data, perform feature engineering, encode categorical data, and split data into train/test sets.

Modeling Techniques: Implement models like Linear Regression, Decision Trees, Random Forests, and XGBoost.

Model Evaluation: Evaluate models using metrics like accuracy, precision, recall, and F1-score.

Feature Importance Analysis: Use SHAP or LIME to interpret model predictions.

In [1]:
import sys
import os

# Add the root directory to sys.path
sys.path.append(os.path.abspath('..'))

from scripts.model_data_process import data_load , missing_values, delete_unwanted_column , delete_duplicated_rows , object_to_number , lable_encoding  , one_hot_encoding, target_variable_and_features , train_test_split , feature_scaling

In [2]:
#importing the model building functions
from scripts.model import building_model, define_parameter_grid_gridsearchcv , train_each_model_by_gridsearchcv  , train_each_model, model_Test

In [3]:
path = '../data/data.csv'

data = data_load(path)
data.head()

c:\Users\Dagi\Documents\KAIM\Week-3\insurance-risk-analytics\scripts\model_data_process.py:10: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
4,145247,12827,2015-01-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,3.256435,0.0

lets remove the columns i have not used to minimize the size

In [15]:
data.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province',
       'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode',
       'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders',
       'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors',
       'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser',
       'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet',
       'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm',
       'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section',
       'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium',
       'TotalClaims'],
      dtype='object')

In [16]:
len(data.columns)

52

In [12]:

columns_to_drop = ['UnderwrittenCoverID', 'PolicyID', 'NumberOfDoors', 
                   'VehicleIntroDate', 'IsVATRegistered', 'Title', 
                   'LegalType', 'Language']
data1 =delete_unwanted_column(data , columns_to_drop)

In [17]:
data1.columns

Index(['TransactionMonth', 'Citizenship', 'Bank', 'AccountType',
       'MaritalStatus', 'Gender', 'Country', 'Province', 'PostalCode',
       'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode', 'VehicleType',
       'RegistrationYear', 'make', 'Model', 'Cylinders', 'cubiccapacity',
       'kilowatts', 'bodytype', 'CustomValueEstimate', 'AlarmImmobiliser',
       'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet',
       'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm',
       'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section',
       'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium',
       'TotalClaims'],
      dtype='object')

In [18]:
len(data1.columns)

44

looks the missing values

In [14]:
missing_values(data1)

TransactionMonth                 0
Citizenship                      0
Bank                             0
AccountType                      0
MaritalStatus                    0
Gender                           0
Country                          0
Province                         0
PostalCode                       0
MainCrestaZone                   0
SubCrestaZone                    0
ItemType                         0
mmcode                           0
VehicleType                      0
RegistrationYear                 0
make                             0
Model                            0
Cylinders                        0
cubiccapacity                    0
kilowatts                        0
bodytype                         0
CustomValueEstimate              0
AlarmImmobiliser                 0
TrackingDevice                   0
CapitalOutstanding               0
NewVehicle                       0
WrittenOff                       0
Rebuilt                          0
Converted                        0
CrossBorder                      0
NumberOfVehiclesInFleet     790093
SumInsured                       0
TermFrequency                    0
CalculatedPremiumPerTerm         0
ExcessSelected                   0
CoverCategory                    0
CoverType                        0
CoverGroup                       0
Section                          0
Product                          0
StatutoryClass                   0
StatutoryRiskType                0
TotalPremium                     0
TotalClaims                      0
dtype: int64

no missing values let remove duplicated rows

In [19]:
data1.shape

(790093, 44)

In [20]:
data2 = delete_duplicated_rows(data1)

In [21]:
data2.shape

(669615, 44)

lets change object to number

In [23]:
data2.dtypes

TransactionMonth             object
Citizenship                  object
Bank                         object
AccountType                  object
MaritalStatus                object
Gender                       object
Country                      object
Province                     object
PostalCode                    int64
MainCrestaZone               object
SubCrestaZone                object
ItemType                     object
mmcode                      float64
VehicleType                  object
RegistrationYear              int64
make                         object
Model                        object
Cylinders                   float64
cubiccapacity               float64
kilowatts                   float64
bodytype                     object
CustomValueEstimate         float64
AlarmImmobiliser             object
TrackingDevice               object
CapitalOutstanding           object
NewVehicle                   object
WrittenOff                   object
Rebuilt                      object
Converted                    object
CrossBorder                  object
NumberOfVehiclesInFleet     float64
SumInsured                  float64
TermFrequency                object
CalculatedPremiumPerTerm    float64
ExcessSelected               object
CoverCategory                object
CoverType                    object
CoverGroup                   object
Section                      object
Product                      object
StatutoryClass               object
StatutoryRiskType            object
TotalPremium                float64
TotalClaims                 float64
dtype: object

In [22]:
numeric_cols = ['CapitalOutstanding', 'NumberOfVehiclesInFleet', 'ExcessSelected']
data3 = object_to_number(data2,numeric_cols)

Lable Encoding

In [24]:
label_encoding_columns = [
    'CoverCategory', 'CoverType', 'CoverGroup', 'Section', 'Product', 
    'StatutoryClass', 'StatutoryRiskType', 'ExcessSelected','TransactionMonth', 'Citizenship', 'Bank', 'AccountType', 'MaritalStatus', 
    'Gender', 'Country', 'Province', 'MainCrestaZone', 'SubCrestaZone', 
    'ItemType', 'VehicleType', 'make', 'Model', 'bodytype', 
    'AlarmImmobiliser', 'TrackingDevice', 'CapitalOutstanding', 
    'NewVehicle', 'WrittenOff', 'Rebuilt', 'Converted', 'CrossBorder', 
    'NumberOfVehiclesInFleet', 'TermFrequency'
]
data4 = lable_encoding(data3,label_encoding_columns)

In [25]:
#object changed to number
data4.head()

,TransactionMonth,Citizenship,Bank,AccountType,MaritalStatus,Gender,Country,Province,PostalCode,MainCrestaZone,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,17,0,2,0,1,2,0,2,1459,12,...,0,26,21,5,1,2,0,0,21.929825,0.0
1,19,0,2,0,1,2,0,2,1459,12,...,0,26,21,5,1,2,0,0,21.929825,0.0
2,21,0,2,0,1,2,0,2,1459,12,...,0,26,21,5,1,2,0,0,0.000000,0.0
3,21,0,2,0,1,2,0,2,1459,12,...,0,16,13,5,1,2,0,0,0.000000,0.0
4,15,0,2,0,1,2,0,2,1459,12,...,0,21,18,5,1,2,0,0,3.256435,0.0

Target variable and features

In [26]:
X , y_claims = target_variable_and_features(data4)
y_claims.value_counts()

TotalClaims
0.0    669615
Name: count, dtype: int64